div#model-unvisible {
    visibility: hidden;
}

div#color-editor {
    display: flex;
    flex-direction: row;
    margin-left: 125px;
    color: #fff;
}

div#color-instruments {
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.25);
    width: 250px;
    height: 100%;
    position: absolute;
    left: 100%;
    transform: translate(-100%, 0);
    padding: 5px;
}

div#instruments div.model-select {
    margin-bottom: 5px;
}

div#coordinates {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin-top: 15px;
}

div#coordinates div#values {
    position: relative;
    transform: translate(5%, 10%);
}

div#coordinates div#values p {
    margin: 0;
}

div#coordinates div#color {
    width: 100px;
    height: 100px;
    background-color: #fff;
    border-radius: 10px;
}

div#inputs {
    display: flex;
    flex-direction: row;
}

div#inputs div.label-block {
    margin-right: 15px;
    padding: 0;
}

div#inputs div.label-block label {
    display: inline-block;
    margin-bottom: 10px;
}

div#inputs div.input-block input {
    margin-bottom: 5px;
}