div#editor {
    display: flex;
    flex-direction: row;
    margin-left: 140px;
}

div#editor div#instruments {
    width: 260px;
    position: absolute;
    left: 84%;
    transform: translate(-84%, 0);
    color: #fff;
    width: 250px;
    height: 100%;
}

div#editor div#fractal {
    height: 100%;
}

div#inputs {
    display: flex;
    flex-direction: row;
}

div#inputs div#label-block label {
    display: inline-block;
    margin-bottom: 10px;
}

div#inputs div#input-block input {
    margin-bottom: 5px;
}

input#draw-button {
    width: inherit;
}