div#editor {
    display: flex;
    flex-direction: row;
    margin-left: 140px;
}

div#editor div#instruments {
    width: 250px;
    height: 100%;
    position: absolute;
    left: 100%;
    transform: translate(-100%, 0);
    color: #fff;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.25);
}

div#editor div#fractal {
    height: 100%;
}

div#inputs {
    display: flex;
    flex-direction: row;
}

div#inputs div#label-block label {
    display: inline-block;
    margin-bottom: 10px;
}

div#inputs div#input-block input {
    margin-bottom: 5px;
}

input#draw-button {
    width: 255px;
}